<h1 class="text-center">
  <%= "#{@lesson_plan.title} edit" %>
</h1>
<div class="col-md-6 col-md-offset-3">
  <%= form_with(model: @lesson_plan, url: lesson_plan_path(@lesson_plan), method: :patch, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :body %>
    <%= f.text_field :body, class: 'form_control' %>

    <%= f.submit "Update Lesson", class: 'form_control' %>
  <% end %>
  <br>
  <%= button_to "back", :back, method: :get %>
</div>
