<h1 class="text-center">
  <%= @student.name %>
</h1>
<h3 class="text-center">Edit Profile</h3>
<div class="col-md-6 col-md-offset-3">
  <%= form_with(model: @student, url: student_path(@student), method: :patch, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form_control' %>

    <%= f.submit "Update Profile", class: 'form_control' %>
  <% end %>
  <br>
  <%= button_to "back", :back, method: :get %>
</div>
