<h1 class="text-center">
  <%= current_user.name %>'s Students 
</h1>
<br>
<br>
<% if current_user.students.count == 0 %>
  <div class="text-center" >
    <%= link_to "Create New Student", new_student_path, class: "button" %>
  </div>
<% else %>
  <div class="student_list_container">
    <div>
      <ul class="student-list">
        <% current_user.students.each do |s| %>
          <ul>
            <%= image_tag(s.profile_image_url, height: "175px") %>
            <br>
            <u><%= link_to s.name, student_path(s), class: "student_list_name" %></u>
          </ul>
        <% end %>
      </ul>
    </div>
    <div class="new_student_button" >
      <%= link_to "Create New Student", new_student_path, class: "button" %>
    </div>
  </div>
<% end %>
