<h1 class="text-center">
  <%= @student.name %>'s <br> Practice Room
</h1>
<div>
  <%= image_tag(@student.profile_image_url, height: "300px") %>
</div>
<div class="container">
  <div class="row">
    <ul class="nav col-md-3 sidebar">
      <li class="nav-item">
        <%= link_to "view lesson plans", lesson_plans_path(student_id: @student.id), class: "button" %>
      </li>
      <li class="nav-item">
        <%= link_to "Edit student", edit_student_path(@student), class: "button" %>
      </li>
      <li class="nav-item">
        <%= button_to "delete student", student_path(@student), method: :delete, class: "button" %> 
      </li>
    </ul>
  </div>
</div>

